@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Models.EnumTypes

@{
    ViewData["Title"] = @Localizer["Title"];
}

<body>
    <h2>@Localizer["Title"]</h2>
    <hr>

    <div class="NewUser">
        <form asp-controller="Users" asp-action="Add" method="POST" enctype="multipart/form-data">
            <table class="forms" align="center">
            </table>
        </form>
    </div>

</body>