html, body {
    margin: 0px;
    padding: 0px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

#img-upload {
    width: 480px;
    align-items: center;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.forms td {
    padding: 3px;
}

.unreleased {
    padding: 6px 10px 6px 10px;
    margin-bottom: 18px;
    color: #C2C038;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #ffffcc;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 150px;
}

.archived {
    padding: 6px 10px 6px 10px;
    margin-bottom: 18px;
    color: #b94a48;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 150px;
}

.unreleased .archived .glyphicon {
    float: left;
    margin-right: 5px;
}

.unreleased .archived div {
    overflow: hidden;
}

.overflow-ellipsis {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/flags.png') no-repeat;
}

    .flag.flag-gb {
        background-position: -32px 0;
    }

    .flag.flag-pl {
        background-position: 0 -32px;
    }

    .flag.flag-de {
        background-position: 0 0;
    }

.input-group {
    width: 457px;
}

.form-control-feedback {
    right: 25px;
}

.input-validation-error {
    background: white;
    border: 1px solid red;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
}

.form-horizontal .control-label {
    text-align: left;
}

.pagetitle {
    border: 1px solid grey;
    background: white;
    border-radius: 10px;
    padding: 15px;
}

.pagetitlelegend {
    color: white;
    padding: 5px 10px;
    font-size: 32px;
    border-radius: 10px;
    text-align: center;
    /* IE10+ */
    background-image: -ms-linear-gradient(bottom, #1e5799 0%, #2989D8 50%, #7db9e8 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #1e5799 0%, #2989D8 50%, #7db9e8 100%);
    /* Opera */
    background-image: -o-linear-gradient(bottom, #1e5799 0%, #2989D8 50%, #7db9e8 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1e5799), color-stop(50, #2989D8), color-stop(100, #7db9e8));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #1e5799 0%, #2989D8 50%, #7db9e8 100%);
    /* W3C Markup */
    background-image: linear-gradient(to top, #1e5799 0%, #2989D8 50%, #7db9e8 100%);
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.panel-table .panel-body {
    padding: 0;
}

    .panel-table .panel-body .table-bordered {
        border-style: none;
        margin: 0;
    }

        .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
            text-align: center;
            width: 100px;
        }

        .panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
        .panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
            border-right: 0px;
        }

        .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
        .panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
            border-left: 0px;
        }

        .panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
            border-bottom: 0px;
        }

        .panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
            border-top: 0px;
        }

.panel-table .panel-footer .pagination {
    margin: 0;
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col {
    line-height: 34px;
    height: 34px;
}

.panel-table .panel-heading .col h3 {
    line-height: 30px;
    height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td {
    line-height: 34px;
}

div.dataTables_paginate {
    text-align: center
}

.center-column {
    text-align: center;
}